
main {
    font-family: Arial, Helvetica, sans-serif;
}

th {
    margin: 3px;
    padding: 5px;
    border: 2px solid black;
    vertical-align: middle;
}

table {
    padding: 5px;
    /* margin-top: 10%; */
    border: 2px solid black;
    width: auto;
    height: auto;
}

td {
    margin: 3px;
    padding: 5px;
    border: 2px solid black;
}

td:hover {
    background-color: yellow;
}


th:hover {
    background-color: red;
}

main {
    display: block;
    place-items: center;
    /* place-content: top; */
}

fieldset {
    border: 3px solid black;
    height: auto;
    border-radius: 10px;
    float: right;
}

form {
    display: grid;
}

#data {
    display: flex;
    justify-content: space-between;
}