html {
    height: 100vh;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

header {
    background-color: #A6A78D;
    /* display:inline-flex; */
}

main {
    background-color: #D0C4BB;
    /* display: grid;
    place-items: center; */
    text-align: center;
    place-content: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    background-color: #5B4635;
}

nav {
    float: right;
    display: inline-flex;
    height: auto;
    /* position: relative;
    top: 30px; */
}

nav a {
    border: #5B4635 solid 3px;
    padding: 3px;
    margin: 5px;
    vertical-align: middle;
    border-radius: 25px;
    background-color: whitesmoke;
    /* max-width: 15ch;
    min-width: auto; */
    width: 15ch;
    text-align: center;
    display: inline;
    margin-top: 35px;

    /* color: white; */
}

a {
    color: black;
    text-decoration: none;
}


header img {
    width: 300px;
    float: left;
}
/* section {
    display: grid;
    place-content: center;
} */

section h1 {
    font-size: 30px;
    color: #E62200;
    margin: 5px;
}
section p {
    color: #3500FE;
    font-size: medium;
    max-width: 45ch;
    min-width: auto;
    text-align: center;
    border: black dotted 5px;
}

footer {
    text-align: center;
}

main section {
    /* background-color: black; */
    flex: 1 1 300px;
    padding: 0 5px;
    margin: 10px;
    height: auto;
}

section:nth-child(1){
    gap: 5px;
    /* background-color: #E62200; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 100px; */
}

section:nth-child(2) {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    overflow: auto;
    width: auto;
}

/* section:nth-child(3) {
    /* background-color: white; 
} */


section:nth-child(2) img {
    width: 200px;
    /* height: 200px; */
    border: 2px solid black;
}


ul {
    list-style: circle;
    float: left;
}

p {
    margin: 5px;
}